
	<%- include header.ejs %>

    <div class="container-fluid" style="margin-top: 70px">
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="row-fluid">
					<div class="span9">
						<label>Điền list token</label>
						<textarea id="list_token" rows="6" style="width: 100%"></textarea>
						<label>Điền list UID</label>
						<textarea id="list_uid" rows="6" style="width: 100%"></textarea>
					</div>
					<div class="span3">
						<label>Giữa mỗi lần add member (s)</label>
						<input id="time_add_friend" type="text" class="input-small text-center" value="10">
						<label>Giữa mỗi token (s)</label>
						<input id="limit_uid" type="text" class="input-small text-center" value="50">
						<hr style="margin: 10px;" />
						<button type="button" class="btn btn-large" id="btn_start">BẮT ĐẦU</button>
					</div>
				</div>
			</div>
		</div>	
		<div class="row-fluid">
			<div class="span10 offset1">
				<h2 class="sub-header">List Token</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th style="text-align: center">#</th>
							<th style="text-align: center">Success | Fails</th>
							<th>Status</th>
							<th>Name</th>   
							<th>Token</th>
						</tr>
                    </thead>
					<tbody id="tbody"></tbody>
				</div>	
			</div>
		</div>
	</div>
	

	<%- include footer.ejs %>
	<script src="/js/add.js"></script>