<html>
<head>
	<meta charset="utf-8">
	<title>Get UID</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/style/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/style/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<style>
		input[type=text]{
			width: 100%;
			height: 5%;
		}
	</style>
</head>
<body>
<%- include header.ejs %>
<div class="container-fluid" style="margin-top: 70px">
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="row-fluid">
					<div class="span9">
						<label>Điền token</label>
						<textarea id="list_token" rows="2" style="width: 100%"></textarea>
						<label>Điền ID Group</label>
						<textarea id="list_uid" rows="2" style="width: 100%"></textarea>
					</div>
					<div class="span3">
						<hr style="margin: 10px;" />
						<button type="button" class="btn btn-large" id="btn_start">BẮT ĐẦU</button>
					</div>
				</div>
			</div>
		</div>
<script src="/style/js/jquery.js"></script>
<script src="/style/js/jquery.cookie.js"></script>
<script src="/style/css/bootstrap.min.js"></script>
<script src="/js/add.js"></script>
</body>
</html>