
<%- include header.ejs %>
<div class="container-fluid" style="margin-top: 70px">
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="row-fluid">
					<div class="span9">
						<label>Điền token</label>
						<textarea id="list_token" rows="2" style="width: 100%"></textarea>
						<label>Điền ID Group</label>
						<textarea id="list_uid" rows="2" style="width: 100%"></textarea>
					</div>
					<div class="span3">
						<hr style="margin: 10px;" />
						<button type="button" class="btn btn-large" id="btn_start">BẮT ĐẦU</button>
					</div>
				</div>
			</div>
		</div>

<%- include footer.ejs %>		
		<script src="/js/add.js"></script>