
<%- include header.ejs %>
<div class="container-fluid" style="margin-top: 70px">
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="row-fluid">
					<div class="span9">
						<label>Điền token</label>
						<textarea id="token" rows="2" style="width: 100%" value="EAAAAAYsX7TsBAPhyijD6VcTN9ldNyQGOE42ntAAGAVGvXNtFWGYPzoewBiBv9SMjeKt5J5HM41o2x8t8RmnQbZBcLRGB7qXYsZA83OEu4V7BOSv4yVFBJzVVXN1KHnu6S0b1wJnoZCkApp29jccT3FRcDJp1ZBM1LguyIwjLfg3yPmbHgez6lFaNY7iW0hQZD"></textarea>
						<label>Điền ID Group</label>
						<textarea id="groupId" rows="2" style="width: 100%" value="162548977677293"></textarea>
					</div>
					<div class="span3">
						<hr style="margin: 10px;" />
						<button type="button" class="btn btn-large" id="btn_start">BẮT ĐẦU</button>
					</div>
				</div>
			</div>
		</div>
		<div>
			<tbody id="tbody"></tbody>
		</div>

<%- include footer.ejs %>		
<script src="/js/getuid.js"></script>