<html>
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/style/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/style/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<style>
		input[type=text]{
			width: 100%;
			height: 5%;
		}
	</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text pull-right">
                <u>Lưu ý:</u> TOKEN get từ APP: <b>6628568379</b> mới sử dụng được!
            </p>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a target="_blank" href="https://www.facebook.com/son686">LH Nam Max - fb.com/son686</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>