<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text pull-right">
                <u>Lưu ý:</u> TOKEN get từ APP: <b>6628568379</b> mới sử dụng được!
            </p>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a target="_blank" href="https://www.facebook.com/son686">LH Nam Max - fb.com/son686</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>